*{
    margin: 0;
    padding: 0;
}

.main{
    width: 1000px;
    height: 600px;
    position: absolute;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: calc(600px - 355px);
    margin-left: calc(1000px - 40px);
}